
.profile-picture {
  width: 100%;
  height: 100%;
  border: none !important;
  aspect-ratio: 1/0.2;
  border-radius: 50%;
  margin: auto;
  background-color: rgb(198, 198, 198);
}

.logo-mobile {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 5rem;
  z-index: 100;
  --translateX: -50px;
}

.profile-picture img {
    max-width: 20rem;
    aspect-ratio: 1;
    border-radius: 50%;
  
}

main {
  border: none !important;
  padding: 1rem;
  -webkit-margin-before: 8rem;
          margin-block-start: 8rem;
  margin-inline: 1rem;
  border-radius: 2rem;
  /* backdrop-filter: blur(200px);
    background-color: var(--card-bg-color); */
  background: conic-gradient(pink, pink, #ecb622ab, #ec8a22ab, pink);
  --gap: 0;
  --justify-content: space-around;
}

.stats {
  --columns: 2;
  --rows: 2;
  --gap: 2rem;
  text-align: center;
}

.achievements {
  grid-row: span 2/3;
  background-color: aqua;
}
h1 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin: 1rem;
  font-size: clamp(2rem, 10vh, 2.556rem);
}

.stats .card {
  padding: 1rem;
  --gap: 0rem;
  width: 20rem;
  /*  box-shadow: 0 0 100px #ffb73c; */
  background-color: rgb(0 0 0 /0.2);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 1rem;
}

.stats span {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  font-size: 3.5rem;
  font-weight: 600;
  background: linear-gradient(150deg, rgb(90, 88, 88), blue, orange);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h3 {
    margin: 0;
    font-size: clamp(1.5rem,2vw + 1rem,2rem);
}

@media screen and (max-width: 690px) {
  .logo-mobile {
    display: block;
    top: -100px;
  }
  .profile-picture {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 100%;
  }
  .profile-picture img {
    width: 10rem;
    aspect-ratio: 1;
    border-radius: 100%;
    object-fit: cover;
  }
  main {
    --flex-direction: column;
    height: 100%;
  }
  .stats {
    margin-block-start: 1rem;
    --columns: 1;
    --rows: 1;
  }
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .stats .card {
    width: 15rem;
  }
  .stats h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .stats {
    --columns: 1;
  }
  .stats .card {
    max-width: 20rem;
  }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
  .stats .card {
    width: 16rem;
  }

  .stats h1 {
    font-size: 2.256rem;
  }

  .profile-picture img {
    position: relative;
    top: -80px;
  }
}
