main {
    height: fit-content;
}

.hero {
    width: 100%;
    padding: 2rem;
    margin-block-start: 8.5rem;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
}

.wrapper {
    --columns: auto-fit;
    --col-size: minmax(330px,1fr);
    padding: 1.125rem;
}

.card {
    width: 390px;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid black;
}

.card section[role="img"] {
    height: 100%;
    max-width: 60%;
    border-radius: 50%;
    background-color: aqua;
}

.card img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}

.card .info {
    --gap: 0!important;
    margin: 0;
}